@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Karla&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.intro-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fb;
  background-image: url("../public/triviaimg/blobtop.png"),
    url("../public/triviaimg/blobbottom.png");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 150px 120px;
  text-align: center;
}
.header {
  color: #293264;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
}

.description {
  color: #293264;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
}

.start-quiz {
  color: #f5f7fb;
  background-color: #4d5b9e;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.options {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 35px;
  font-weight: 500;
  padding-bottom: 7px;
}

.line {
  border-bottom: 1px solid #dbdef0;
}

.bg {
  background-color: white;
  border-radius: 9px;
  border-color: #4d5b9e;
  color: #293264;
  border-style: solid;
  border-width: 1px;
  width: 155px;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.q {
  color: #293264;
  font-weight: 700;
  font-size: 18px;
  font-family: "Karla";
  padding: 25px;
}

.check {
  margin-top: 30px;
  background-color: #4d5b9e;
  width: 125px;
  height: 33px;
  font-family: "Inter";
  border-width: 0px;
  color: #f5f7fb;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
}

.error {
  color: red;
  font-family: "Inter";
  font-weight: 500;
}

.flex {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 55px;
}

.scoreinfo {
  color: #293264;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 700;
}

.new-game {
  color: #f5f7fb;
  background-color: #4d5b9e;
  height: 39px;
  width: 173px;
  cursor: pointer;
  border-width: 0px;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: 600;
}
